header {
  background-color: black;
  color: white
}

.headerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  padding-top: 10px;
}

.headerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.headerContent p {
  font-size: 20px;
  font-weight: 500;
}

.headerLinks {
  display: flex;
  width: 30vw;
  justify-content: space-around;
}

.headerContent a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}