form {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

form .input {
  padding: 0 20px;
}

form .search {
  height: 25px;
  width: 20vw;
  border-radius: 8px;
}

form .button {
  height: 25px;
  padding: 0 8px;
  border-radius: 8px;
  color: black;
  background-color: white;
  font-size: 15px;
  font-weight: 500;
}